## String

In [3]:
'What is String in Python?'

'What is String in Python?'

In [1]:
'A string is a sequence of characters.'

'A character is simply a symbol. For example, the English language has 26 characters.'

'Computers do not deal with characters, they deal with numbers (binary).'
'Even though you may see characters on your screen, internally it is stored and manipulated as a combination of 0s and 1s.'

'Even though you may see characters on your screen, internally it is stored and manipulated as a combination of 0s and 1s.'

In [4]:
"""
This conversion of character to a number is called encoding, and the reverse process is decoding. 
ASCII and Unicode are some of the popular encodings used.
"""

'\nThis conversion of character to a number is called encoding, and the reverse process is decoding. \nASCII and Unicode are some of the popular encodings used.\n'

In [5]:
name = 'Kong Nattawat'
child = "Gumpoo is Kong Nattawat's daughter"
book = """Robert Kiyosaki 
and the Bestwriter""" 

print(name) 
print(child) 
print(book)

Kong Nattawat
Gumpoo is Kong Nattawat's daughter
Robert Kiyosaki
and the Bestwriter

In [6]:
book[-1] # returns 'r'

book[-12:] # returns 'Scriptwriter'

'e Bestwriter'

In [7]:
print('Temperature:\t20\tC\nPressure:\t5\tPa')

Temperature:	20	C
Pressure:	5	Pa

In [8]:
print('This is\n a long,\n long string')

This is
 a long,
 long string

### String Conversion

In [9]:
string = '123.456'
type(string)

str

In [10]:
f = float(string)
type(f)

float

In [11]:
string + 1

TypeError: can only concatenate str (not "int") to str

In [12]:
f + 1

124.456

In [13]:
print(int(string))

ValueError: invalid literal for int() with base 10: '123.456'

In [14]:
print(int('1234'))

1234

In [15]:
print(int('Hello'))

ValueError: invalid literal for int() with base 10: 'Hello'

In [16]:
# Converse back to String
s = str(f)
print(s)

123.456

In [17]:
# Check type
type(s)

str

In [18]:
# Exercise 1
c = float('30.5')
type(c)

float

In [19]:
# Change float to String
C = str(c)

In [20]:
C

'30.5'

In [21]:
type(C)

str

In [24]:
d = int('100')
d

100

In [23]:
type(d)

int

In [25]:
# Convert Integer to string
D = str(d)

In [26]:
D

'100'

In [27]:
type(D)

str

### Special Characters
####      Escape code

In [28]:
print('Manchester\n United')

Manchester
 United

In [29]:
print('Manchester\r United')

 United

In [30]:
print('Manchester\t United')

Manchester	 United

In [31]:
print('Manchester\v United')

Manchester United

In [32]:
print('Manchester\b United')

Manchester United

In [33]:
print('Manchester\f United')

Manchester United

In [34]:
print('Manchester\a United')

Manchester United

In [35]:
print('Manchester\' United')

Manchester' United

In [36]:
print('Manchester\" United')

Manchester" United

In [37]:
print('Manchester\? United')

Manchester\? United

In [38]:
print('Manchester\\ United')

Manchester\ United

## input(): Split

In [40]:
fname, lname = input('Enter yourname:').split()

Enter yourname:Somchai Saisamer

### Operations on strings and string methods

In [41]:
last_name='Saisamer'
first_name='Somchai'
Full_name=first_name+' '+last_name  # returns 'Somchai Saisamer'

Full_name

'Somchai Saisamer'

In [42]:
dog = 2*'Go' # returns 'GoGo'
dog

'GoGo'

In [43]:
'10B' < '11A' # returns true

True

In [44]:
text = 'quod erat    demonstrandum'
text.split()

['quod', 'erat', 'demonstrandum']

In [45]:
table = 'Johan;Carlsson;19890327'
table.split(';')

['Johan', 'Carlsson', '19890327']

In [46]:
king = 'CarlXVIGustaf'
king.split('XVI')

['Carl', 'Gustaf']

In [47]:
sep=';'
sep.join(['Johan','Carlsson','19890327'])

'Johan;Carlsson;19890327'

In [54]:
birthday='20101210'
birthday.find('10')

2

## Format function

In [55]:
print('I love {} for "{}!"'.format('Geeks','Geeks'))

I love Geeks for "Geeks!"

In [56]:
print('{0} and {1}'.format('Geeks', 'Portal'))

print('{1} and {0}'.format('Geeks', 'Portal'))

Geeks and Portal
Portal and Geeks

In [58]:
course_code = "Introduction Python"
print("This course's name is {}".format(course_code))

This course's name is Introduction Python

In [59]:
quantity = 33.45

print("qty{:f}".format(quantity)) # qty33.450000
print("qty{:8.1f}".format(quantity)) # qty    33.5
print("qty{:10.2e}".format(quantity)) # qty  3.35e+01

qty33.450000
qty    33.5
qty  3.35e+01

In [60]:
print("{name} {value:.1f}".format(name="quantity",value=quantity))

quantity 33.5

In [61]:
r"we {} in LaTeX \begin{{equation}}".format('like')

'we like in LaTeX \\begin{equation}'

### Indexes

In [ ]:
# Characters in a string are numbered with indexes starting at 0:
# Accessing an individual character of a string: variableName index
# Accessing an individual character of a string: variableName [index]

In [62]:
name = "Gumpoo"
print (name, "starts with",name[0])

Gumpoo starts with G

### String properties

In [ ]:
#len( string)      - number of characters in a string (including spaces)
#str.lower( string )   -lowercase version of a string
#str.upper( string)   - uppercase version of a string

In [63]:
# Example:
name = "Robert Downey Junior"
length = len(name)             # Amont of charactors in " "
big_name = str.upper(name)     # Make upper words
print (big_name, "has", length, "characters")

ROBERT DOWNEY JUNIOR has 20 characters

### String input

In [64]:
#input : Reads a string of text from user

# Example:
name = input("Howdy, pardner. What's yer name? ")
print (name, "... what a silly name!")

Howdy, pardner. What's yer name? Gumpoo
Gumpoo ... what a silly name!

### Strings and numbers

In [ ]:
# ord( text)        converts a string into a number.
# chr( number )     converts a number into a string.

In [65]:
ord('a')

97

In [66]:
chr(99)

'c'

### Text processing

In [ ]:
# text processing : Examining, editing, formatting often uses loops 
# that examine the characters of a string one by one

In [67]:
# Example:
for c in "university":
      print (c)

u
n
i
v
e
r
s
i
t
y