### For Loops

The for loop

for loop : Repeats a set of statements over a group of value.

In [1]:
x = list(range(0,10))
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
for i in range(0, 10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
for i in range(0, 10):
  print('WoW')

WoW
WoW
WoW
WoW
WoW
WoW
WoW
WoW
WoW
WoW

In [10]:
for i in x:
    print(i + i)

0
2
4
6
8
10
12
14
16
18

In [3]:
for i in range(0, 10):
  print(' 2 multiply '+str(i)+' Get '+str(2*i))

 2 multiply 0 Get 0
 2 multiply 1 Get 2
 2 multiply 2 Get 4
 2 multiply 3 Get 6
 2 multiply 4 Get 8
 2 multiply 5 Get 10
 2 multiply 6 Get 12
 2 multiply 7 Get 14
 2 multiply 8 Get 16
 2 multiply 9 Get 18

In [4]:
L =[1,2,10]
for s in L:
    print(s * 2)

2
4
20

In [7]:
# Example:

# text processing : Examining, editing, 
#formatting often uses loops that examine the characters of a string one by one

for c in "booyah":
      print (c)

b
o
o
y
a
h

In [11]:
# Example:
for x in range(1, 6):
    print(x, "squared is", x * x)

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25

### Range()

In [24]:
range(5)

range(0, 5)

In [25]:
for i in range(5):
    print(i)

0
1
2
3
4

In [26]:
list(range(5))

[0, 1, 2, 3, 4]

In [13]:
# range( start , stop) the integers between start (inclusive) 
# and stop (exclusive)

# 3rd value
# range( start , stop, step) the integers between start (inclusive) 
# and stop (exclusive) by step

In [20]:
#Example:
for x in range(5, 0):
    print (x)
print (x)

1

In [19]:
#Example:
for x in range(5, 0,-1):
    print (x)
print ("Blastoff!")

5
4
3
2
1
Blastoff!

In [ ]:
"""
Cumulative loops

Some loops incrementally compute a value that is initialized outside the loop. 
This is sometimes called a cumulative sum
"""

In [21]:
sum = 0
for i in range(1, 6):
    sum = sum + (i * i)
print ("sum of first", i ,"squares is", sum)

sum of first 5 squares is 55

In [ ]:
# 1*1=1
# 2*2=4
# 3*3=9
# 4*4=16
# 5*5=25
# 1+4+9+16+25=55

In [22]:
"""
Temperature changer program

from 0,10,20,30....,100 to Farenheit

ùêπ=32.0+1.8ùê∂
"""

for c in range(0,101,10):
  F = 32.0 + 1.8*c
  print(str(c)+' Degree Celcius is '+str(F)+' Degree Farenheit')

0 Degree Celcius is 32.0 Degree Farenheit
10 Degree Celcius is 50.0 Degree Farenheit
20 Degree Celcius is 68.0 Degree Farenheit
30 Degree Celcius is 86.0 Degree Farenheit
40 Degree Celcius is 104.0 Degree Farenheit
50 Degree Celcius is 122.0 Degree Farenheit
60 Degree Celcius is 140.0 Degree Farenheit
70 Degree Celcius is 158.0 Degree Farenheit
80 Degree Celcius is 176.0 Degree Farenheit
90 Degree Celcius is 194.0 Degree Farenheit
100 Degree Celcius is 212.0 Degree Farenheit